{% extends "auctions/layout.html" %}
{% block body %}
<h1> Create <span style="color:#FFA200;">Listing</span></h1>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="{% url 'create_listing' %}" method="post" id="create_form" style="color:#007BFF; font-weight:bold;">
            {%csrf_token%}
            {{create_form}}
            <button type="submit" class="btn btn-primary btn-lg" style="margin-left:2px; margin-top:1em;">Create</button>
        </form>
    </div>

    <div class="col"></div>

</div>


{% endblock %}